@import "modules/mixins";
@import "vendor/grids";
@import "vendor/normalize";

* {
  -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
            box-sizing:border-box;
}

/* Standard Styles */
html, body {
  overflow-x: hidden;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-align: center;
}

p {
  font-size: 16px;
  max-width: 305px;
  text-align: center;
  letter-spacing: .02em;
  line-height: 1.4285;
  margin: 0 auto;
}

/*GENERAL MEDIA QUERY - MAX WIDTH */
.wrapper {
  padding: 20px;

  @media (min-width: 750px) {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
  }
}

/* HEADER */
header .home {
  text-align: center;
  display: block;
  width: 100%;
  background-image: url("../../images/background_hero.png");
  background-size: cover;
  background-position: center;
  min-height: 700px;

  @media (min-width: 640px){
    min-height: 770px;
  }
}

.main_nav {
  background: 0 0;
  z-index:999;
}

.main_nav .logo {
  text-align: center;

  @media (min-width: 560px) {
    text-align: left;
    margin: 2px 0;
  }

  @media (min-width: 750px) {
    margin: 22px 0 0 20px;
  }
}

.main_nav .btn-faq > a,
.main_nav .btn-support >a {
  text-decoration: none;
  font-weight: 700;
  color: #AFB5BB
}

.main_nav .btn-faq:hover > a,
.main_nav .btn-support:hover > a {
  color: #FFFFFF;
}

.main_nav .btn-faq {
  float: right;
  margin: 10px 40px 0px 0px;

  @media (min-width: 750px) {
    margin-top: 30px;
  }
  @media (max-width: 560px){
    visibility: hidden;
  }
}

.main_nav .btn-support {
  float: right;
  margin: 10px 20px 0px 0px;

  @media (min-width: 750px) {
    margin: 30px 40px 0px 0px;
  }

  @media (max-width: 560px){
    visibility: hidden;
  }
}

/* BUTTONS */
.btn1{
  background: #E99D41;
  border-radius: 100px;
  /* TEXT ME DOWNLOAD LIN: */
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  color: #2C3949;
  letter-spacing: 0.74px;
  line-height: 15px;
  padding: 18px 50px;

  @media (max-width: 603px){
    display: block;
    margin-bottom: 20px;
  }
  
  @media (min-width: 640px){
    margin-right: 30px;
  }
}

.btn2 {
  background: #E99D41;
  border-radius: 100px;
  /* TEXT ME DOWNLOAD LIN: */
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  color: #2C3949;
  letter-spacing: 0.74px;
  line-height: 15px;
  padding: 18px 43px;

  @media (max-width: 603px) {
    display: block;
  }
 
}

.scroll-bottom .scroll-down {
  position: relative;
  width: 30px;
  margin-top: 50px;

  @media (min-width: 640px){
    width: 40px;
    margin-top: 300px;
  }
}

/* HERO */
.hero {
  @media (min-width: 750px){
    margin-top: 110px;
  }
}

.heroContent {
  margin-top: -40px;

  @media (min-width: 560px){
    margin-top: 68px;
  }
}

.heroContent .slogan {
  margin-bottom: 20px;
  font-size: 46px;
  font-weight: 700;
}

.heroContent .catch_phrase {
  margin-bottom: 45px;
  font-weight: 400;

  @media (min-width: 440px){
    max-width: 400px;
  }
  
  @media (min-width: 560px){
    max-width: 600px;
  }

  @media (min-width: 640px){
    max-width: 620px;
    font-size: 20px;
    font-weight: 400;
  }
}

/* LAUNCH FUNDRAISERS */
#launch {
  display: table;
  width: 100%;
  background-image: url("../../images/2x/launch_background_small.png");
  background-size: cover;
  background-position: center;
  min-height: 770px;

  @media (min-width: 360px){
    min-height: 900px; 
  }

  @media (min-width: 463px){
    min-height: 770px;
  }

  @media (min-width: 520px){
    min-height: 950px;
  }

  @media (min-width: 705px){
    background-image: url("../../images/2x/launch_background.png");
  }
}

.launch-content .feature1-title {
  color: #E99D41;
  font-size: 46px;
  margin-bottom: 16px;
  margin-top: 10px;

  @media (min-width: 705px){
    text-align: left;
  }
}

.launch-content .feature1-content {
  font-weight: 400;

  @media (min-width: 463px){
    max-width: 370px;
  }

  @media (min-width: 705px){
    max-width: 399px;
    font-size: 20px;
    text-align: left;
    margin: 0;
    font-weight: 400;
  }
}

.launch-content {
  @media (min-width: 705px){
    margin-top: 400px;
  }

  @media (min-width: 750px){
    margin-left: 20px;
    margin-top: 400px;
  }
}

/* BE A DONOR */
.donor {
  display: block;
  width: 100%;
  background: #E99D41;
  background-size: cover;

  @media (min-width: 750px){
    padding-bottom: 20px;
  }

  .donor-content {
    @media (min-width: 750px){
      padding-top: 20px;
    }

    @media (min-width:1000px){
      position: relative;
      left: 670px;
      top: 240px;
    }
  }

  .donor-image img {
    width: 100%;
    display: block;
    margin-bottom: -20px;

    @media (min-width: 750px){
      width: 90%;
      margin-right: auto;
      margin-left: auto;
    }

    @media (min-width: 875px){
      width: 85%;
    }

    @media (min-width: 1000px){
      position: relative;
      right: 55%;
    }
  }
}

.donor-content .feature2-title {
  font-size: 46px;
  color: #2C3949;
  margin-top: 10px;
  margin-bottom: 17px;

  @media (min-width: 1000px){
    text-align: left;
  }
}

.donor-content .feature2-content {
  margin-bottom: 30px;

  @media (min-width: 463px){
    max-width: 370px;
  }

  @media (min-width: 705px){
    font-size: 20px;
  }

  @media (min-width: 1000px){
    max-width: 399px;
    text-align: left;
    margin: 0;
    font-weight: 400;
  }
}


/* TRY OUT JUMPSTART */
.try-out {
  display: table;
  width: 100%;
  background-image: url("../../images/download_background.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 600px;

  @media (min-width: 463px){
    min-height: 400px;
  }

  .try-out-content{
    @media (min-width: 320px){
      margin-top: 85px;
    }
    
    @media (min-width: 433px){
      margin-top: 105px;
    }
    
    @media (min-width: 463px){
      margin-top: 35px;
    }

    @media (min-width: 604px){
      margin-top: 85px;
    }

    @media (min-width: 640px){
      margin-top: 85px;
    }
  }
}

.try-out-content .try-title {
  font-size: 46px;
  margin-top: 10px;
  margin-bottom: 17px;
}

.try-out-content .try-content {
  margin-bottom: 35px;

  @media (min-width: 440px){
    max-width: 400px;
  }

  @media (min-width: 560px){
    max-width: 600px;
  }

  @media (min-width: 705px){
    font-size: 20px;
    max-width: 680px;
  }
}

/* FOOTER */
.footer-nav-block {
  display: block;
  text-align: center;
  padding: 0.5em 0;
  background-color: #000000;
}

.footer-nav-block .link-list {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  font-family:"Roboto", Helvetica, Arial, sans-serif;
  color: #ffffff;
}

.footer-nav-block .link-list {
  line-height: 20px;
  margin-right:30px;

  @media (max-width: 750px){
    margin-left: 60px;
    margin-top: 0;
  }
}

.footer-nav-block .link-list li {
  list-style-type: none;
  display: inline;
  margin:0 10px;

  @media (max-width: 750px){
    padding: 0 0 10px 0;
    display: block;
    margin-left: -70px;
  }
}

.footer-nav-block .link-list a {
  text-decoration: none;
  color: #ffffff;
}

/* .footer-nav-block .hide-foot {
  @media (max-width: 750px) {
    visibility: hidden;
  }
} */













